	body {
		margin: 2em;
		border: 5px solid black;
	}
	
	h1 {
		padding-left: 1em;
	}
	
	#thankYou {
		visibility: hidden;
	}

	#passengers {
		margin: 2em;
		border: 5px solid blue;	
		padding: 1em;
		width: 15%;
	}

	#addDone {
		margin-left: 2em;
	}

	#payment {
		margin: 2em;
		border: 5px solid blue;	
		padding: 1em;
		width: 20%;
		display: none;
	}
	
	#invalidCC {
		visibility: hidden;
	}
